@{
    ViewData["Title"] = "Home Page";
}


<div>

    <h4>Необходимо реализовать</h4>
    <ul>
        <li>Аутентификация и авторизация, права пользователей</li>
        <li>Возможность добавления, редактирования, удаления</li>
        <li>Система комментирования</li>
        <li>Доработка страниц
    </ul>

    <h4>Главная страница как страница всего и новостей</h4>
    <ul>
        <li>Услуги</li>
        <li>Новые пользователи</li>
        <li>Новые пользователи</li>
        <li>Новые блоги портфолио</li>
        <li>Немного рекламы</li>
        <li>Продукция</li>
    </ul>

    <h4>Страница услуги</h4>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <h4>Страница Пользователи</h4>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <h4>Страница Контакты</h4>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <h4>Заключение</h4>
    <ul>
        <li>Доработка страниц</li>
        <li>SEO оптимизация</li>
        <li>Синхронизация с соцсетями</li>
    </ul>

</div>

